<html>
<head>
<title>Home</title>
{% load static %}
<link href="{% static 'src/styles.css' %}" rel="stylesheet" />

</head>

<body>



  {% include '../components/_navbar.html' %}



  <div class="flex flex-wrap space-x-8">

    {% for blog in blogs %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="{{blog.image.url}}" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ blog.title }}</div>
        <p class="text-gray-700 text-base">
          {{blog.subtitle}}
        </p>
      </div>
      <a href='/blog/{{blog.id}}'>See more</a>
    </div>
    {% endfor %}


  </div>


  
<!-- https://play.tailwindcss.com/eCfibrSI2X -->
</body>
</html>